.driver-image {
    width: 350px; 
    height: auto; 
    display: block;
    
}

.header h1 {
    text-align: center;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 50px;
}

p {
    text-align: center;
    font-family: 'Inter';
    color: #F1F1F1;
}

h2 {
    text-align: center;
    font-family: 'Orbitron';
    color: #ffffff;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-family: 'Orbitron';
    color: #ffffff;
}

.teams td, .teams tr, .teams th {
    font-family: 'Inter';
    color: #F1F1F1;
    border: 1px solid white;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
}

.teams a:link {
    font-family: 'Inter';
    color: #FF1801;
}

.teams a:visited {
    font-family: 'Inter';
    color: #cc1605;
}

.teams a:hover {
    font-family: 'Inter';
    color: #e43829;
}

.input {
    color: #F1F1F1;
    border: 3px solid #28282b;
    border-radius: 5px;
    height: 20px;
    width: 250px;
    font-family: 'Inter';
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(94, 88, 88, 0.2);
    text-indent: 7px;
    background-color: rgba(8, 8, 8, 0.425);
    display: flex;
    justify-content: space-around;
}

input:focus {
    border: 2px solid #DC0000;
    outline: none;
    box-shadow: 0 4px 8px rgba(94, 88, 88, 0.2);
}

.standings td, .standings tr, .standings th {
    font-family: 'Inter';
    color: #F1F1F1;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.name {
    color: #ffffff;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
}

.location {
    color: #ffffff;
    font-size: 13px;
    font-family: monospace;
    text-align: center;
}

.info {
    color: #ffffff;
    font-size: 15px;
    font-family: monospace;
    text-align: center;
}

.image {
    text-align: center;
}

.image-box {
    width: auto; 
    height: 350px; 
    margin: 0px;
    border-radius: 15px;
    border: 10px solid rgb(29, 28, 28);
    display: block;
    background-color: rgba(0, 0, 0, 0.425);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.column_format {
    column-count: 2;
    column-gap: 2rem;
}